
html {
   background-color: hsl(0, 0%, 96%);
 }

.content {
  display: flex;
  flex-direction: column;
  margin-top: -8%;
}

/* nav styles */

.mfc-navbar {
  z-index: 100;
  position: sticky;
  top: 0%;
  width: 100vw;
  padding: 5px 10px 5px 30px;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 21%);
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  padding: 2.5px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 96%);
}

.nav-brand {
  width: 100%;
  cursor: pointer;
  color: white;
}

.nav-links {
  width: 100%;
  margin-left: 20%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  cursor: pointer;
}
.nav-brand:hover {
  color: white;
}

/* login/registration form */

.auth-container {
  height: 75vh;
}

.auth-form-title {
  text-align: center;
}

.auth-form {
  width: 50%;
  position: relative;
  left: 25%;
  top: 15%;
}

/* hero image and banner text */

.landing {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0%;
}

.hero-banner {
  height: 100%;
  background: url('./assets/bats-banner-1.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-bg {
  height: 100%;
  background: rgb(5,5,55, .45);
}

.hero-img {
  display: none;
}

.banner-text {
  position: relative;
  top: 30%;
  left: 25%;
  width: 50%;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.subtitle {
  margin-top: -3%;
}

.banner-buttons {
  display: flex;
  justify-content: center;
}

.banner-button {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border: 1px white solid;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.banner-button:first-of-type {
  margin-right: 15px;
}

.banner-button:hover {
  background-color: black;
  color: white;
}

/* message */

.message {
  height: 100vh;
  width: 100vw;
  display: block;
}

.message-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.sensei-img {
  width: 40%;
  align-self: center;
  text-align: center;
}

.sensei-img img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.sensei-msg {
  width: 50%;
  height: auto;
  align-self: center;
  font-size: 1.5rem;
}

.sensei-msg a {
  text-decoration: none;
  color: black;
}

.flyer {
  width: 100%;
  align-self: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  cursor: pointer;
}

.flyer:hover {
  border: 2px solid white;
  background-color: black;
  color: white;
}

/* about */

.about {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.about-img {
  width: 50%;
  height: 100%;
}

.about-img img {
  height: 100%;
  width: 100%;
}

.about-info {
  width: 50%;
  height: 100%;
  background-color: #4A4843;
  color: white;
}

.about-cost {
  position: relative;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.hidden {
  visibility: hidden;
}

.fade-in {
  animation: fadeIn .5s ease-in;
}

.fade-out {
  animation: fadeOut .5s ease-in;
  animation-delay: 1s;
}


@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.cost-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-styles {
  width: 100%;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 10%;
}

.style-icon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.style-icon img {
  width: 125px;
  height: 125px;
  margin-bottom: 15px;
  color: white;
}

/* register */

.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.register-select {
  display: flex;
  height: 100%;
}

.register-info {
  width: 50%;
  height: 100%;
  background-color: #C3B7BC;
}

.register-info:nth-of-type(2) {
  background-color: #B0A098;
}

.competitor, .volunteer {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

/*

button {
  width: 50%;
  margin-top: 20px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border: 1px white solid;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  cursor: not-allowed;
  -webkit-box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.75);
}

label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 3.5%;
}

input {
  position: relative;
  left: 25%;
  display: block;
  width: 50%;
  padding: 1% 0 1% 0;
  font-size: 1.5rem;
  margin-bottom: 3.5%;
}

*/

/* contact */

.contact {
  height: 80vh;
  text-align: center;
}

.contact-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}

.contact-img {
  width: 50%;
  height: 100%;
}

.contact-img img {
  width: 100%;
  height: 100%;
  margin-bottom: -5%;
}

.address-container {
  height: 100%;
  width: 50%;
  background-color: #4A4843;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.address {
  font-size: 1.5rem;
}

.contact-social {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contact-social img {
  height: 65px;
  width: auto;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* phone and tablets - portrait mode */
@media screen and (max-width: 768px) {

  .content {
    margin-top: -2%;
  }

  /* nav */
  .navbar {
    display: none;
  }

  /* home */
  .landing {
    top: -1%;
  }

  .hero-banner {
    background-position: center;
  }

  .hero-img {
    display: block;
    height: auto;
    width: 100px;
    align-self: center;
  }

  .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    top: 20%;
  }

  .subtitle {
    margin-top: -3%;
  }

  .banner-buttons {
    flex-direction: column;
  }

  .banner-button {
    font-size: 1rem;
    width: 90%;
  }

  .banner-button:nth-of-type(1) {
    margin-bottom: 10px;
  }

  /* message */

  .message {
    height: auto;
    padding: 20px 0px 20px 0px;
  }


  .message-content {
    flex-direction: column;
  }

  .sensei-img {
    align-self: center;
  }

  .sensei-img img {
    height: 100px;
    width: 100px;
  }

  .sensei-msg {
    width: 80%;
    align-self: center;
    font-size: 1rem;
    text-align: center;
  }


  /* about */

  .about {
    height: auto;
    flex-direction: column;
  }

  .about-img {
    height: 50%;
    width: 100%;
  }

  .about-img img {
    height: 100%;
    width: 100%;
  }

  .about-info {
    height: 50%;
    width: 100%;
    padding-bottom: 10%;
  }

  .about-styles {
    position: relative;
    top: 5%;
    height: auto;
    width: auto;
    margin: 5% 0 5% -2.5%;
  }

  .style-icon {
    font-size: 1.1rem;
  }

  .style-icon img {
    width: 90px;
    height: auto;
  }

  /* register */

  .register {
    height: auto;
  }

  .register h1 {
    font-size: 1.5rem;
  }

  .register-select {
    display: flex;
    flex-direction: column;
  }

  .register-info {
    width: auto;
    height: auto;
    padding-bottom: 20%;
  }

  .competitor, .volunteer {
    font-size: 1rem;
  }

  /* button {
    font-size: 1rem;
  }

  */

  /* contact */

  .contact {
    height: 90vh;
  }

  .contact-header {
    margin-bottom: 10px;
  }

  .contact-info {
    flex-direction: column-reverse;
  }

  .contact-img {
    height: 50%;
    width: 100%;
  }

  .contact-img img {
    width: 100%;
    height: 100%;
  }

  .address-container {
    width: 100%;
  }

  .address {
    font-size: 1rem;
  }

  .contact-social {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
  }

  .contact-social img {
    height: 50px;
    width: auto;
  }

  .contact-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .5rem;
  }

}

@media screen and (min-width: 768.5px) and (max-width: 1150px) {

  .content {
    margin-top: -14%;
  }

  /* nav styles */

  .navbar {
    font-size: 1rem;
  }

  .nav-links {
    margin-left: -5%;
  }

  /* hero image and banner text */

  .banner-text {
    top: 40%;
    font-size: 1.5rem;
  }

  /* message */

  .message {
    height: 100vh;
    width: 100vw;
    display: block;
  }

  .message-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
  }

  .sensei-img {
    width: 40%;
    align-self: center;
    text-align: center;
  }

  .sensei-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .sensei-msg {
    width: 50%;
    height: auto;
    align-self: center;
    font-size: 1rem;
  }

  .sensei-msg a {
    text-decoration: none;
    color: black;
  }

  .flyer {
    width: 100%;
    align-self: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    cursor: pointer;
  }

  .flyer:hover {
    border: 2px solid white;
    background-color: black;
    color: white;
  }

  /* about */

  .about {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: green;
  }

  .about-img {
    width: 50%;
    height: 100%;
  }

  .about-img img {
    height: 100%;
    width: 100%;
  }

  .about-info {
    width: 50%;
    height: 100%;
    background-color: #4A4843;
    color: white;
  }

  .about-cost {
    position: relative;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }

  .hidden {
    visibility: hidden;
  }

  .fade-in-up {
    animation: fadeInUp .5s ease-in;
  }

  @keyframes fadeInUp {
      from {
          transform: translate3d(0,40px,0);
          opacity: 0
      }

      to {
          transform: translate3d(0,0,0);
          opacity: 1
      }
  }

  @-webkit-keyframes fadeInUp {
      from {
          transform: translate3d(0,40px,0);

      }

      to {
          transform: translate3d(0,0,0);
          opacity: 1
      }
  }

  .cost-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-styles {
    width: 100%;
    position: relative;
    top: 5%;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: space-around;
  }

  .style-icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
  }

  .style-icon img {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
    color: white;
  }

  /* register */

  .register {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  .register-select {
    display: flex;
    height: 100%;
  }

  .register-info {
    width: 50%;
    height: 100%;
    background-color: #C3B7BC;
  }

  .register-info:nth-of-type(2) {
    background-color: #B0A098;
  }

  .competitor, .volunteer {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
  }

  /* button {
    width: 50%;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border: 1px white solid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: black;
    color: white;
    cursor: not-allowed;
    -webkit-box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.75);
  }

  label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 3.5%;
  }

  input {
    position: relative;
    left: 25%;
    display: block;
    width: 50%;
    padding: 1% 0 1% 0;
    : 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3.5%;
  }

  */

  /* contact */

  .contact {
    height: 80vh;
    text-align: center;
  }

  .contact-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }

  .contact-img {
    width: 50%;
    height: 100%;
  }

  .contact-img img {
    width: 100%;
    height: 100%;
    margin-bottom: -5%;
  }

  .address-container {
    height: 100%;
    width: 50%;
    background-color: #4A4843;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }

  .address {
    font-size: 1.5rem;
  }

  .contact-social {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .contact-social img {
    height: 65px;
    width: auto;
  }

  .contact-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}


@media screen and (min-width: 1150.5px) and (max-width: 1319.5px){

  .content {
    margin-top: -9%;
  }
  /* message */

  .sensei-msg {
    font-size: 1.2rem;
  }

  /* about */

  .about-styles {
    position: relative;
    top: -2.5%;
  }

  .style-icon img {
    width: 100px;
    height: 100px;
  }

  /* contact */

  .contact {
    height: 80vh;
  }

}
