.profile-header {
  margin-top: 20px;
}

.hero {
  position: relative;
  left: -3.6%;
  margin-top: -1%;
  width: 100vw;
  margin-bottom: 1%;
}

.field {
  margin-top: -1%;
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  letter-spacing: -3px;
  background-color: black;
  padding-right: 5px;
}

.profile-edit {
  font-size: 1rem;
  color: white;
}

.profile-icons {
  text-align: center;
}

.profile-lessons {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.profile-lessons .box {
  width: 30%;
}

.hero-stats {
  display: flex;
  width: 40%;
  margin-top: 2.5%;
}

.hero-stat {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.hero-stat-number {
  font-size: 1.75rem;
}

.hero-stat div {
  font-size: 1rem;
}

.profile-widget-title {
  font-family: 'Fjalla One', sans-serif;
  background-color: black;
  letter-spacing: -3px;
  padding-right: 5px;
}

.widget-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-user-modal p {
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 5px;
}
