.lessons-header {
  height: 10vh;
  padding-left: 1.5%;
  padding-top: 1%;
}

.lessons-title {
  font-family: 'Fjalla One', sans-serif;
  background-color: black;
  letter-spacing: -3px;
}

.lessons-subtitle {
  margin-top: 15px;
}

.lessons-container {
  height: 90vh;
}

.lessons-subcontainer, .lessons-subcontainer .lessons-container {
  height: 100%;
}

.lessons-subcontainer .lessons-container .pagination {
  position: relative;
  bottom: -10%;
}

.card-image .image {
    background-color: black;
    display: flex;
    justify-content: center;
}
.card-image .image img {
  width: 200px;
  height: 200px;
}


@media all and (orientation: portrait) and (max-width: 321px) {

  .lessons {
    width: 100vw;
  }

  .lessons-subcontainer {
    display: flex;
    flex-direction: column;
  }

  .filter-container {
    max-width: 90vw;
  }

  .filter-container .field .control .label, .filter-container .field .control .select, .filter-container .field .control .select select, .filter-container .field .control .select option {
    width: 100%;
  }

  .filter-container .field .control .label, .filter-container .field .control .select {
    font-size: 3vw;
  }

  .lessons-subcontainer .lessons-container {
    max-height: 100vh;
    width: 95%;
    position: relative;
    top: 155%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .card {
    display: flex;
    flex-direction: row;
    max-width: 10vw;
    max-height: 70vh;
  }

  .card, .lesson-item-title {
    font-size: 3vw;
  }

  .lessons-subcontainer .lessons-container .pagination {
    position: relative;
    bottom: 5%;
    align-self: flex-start;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    font-size: 3vw;
  }


  .card-image .image {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .card-image .image img {
    width: 50px;
    height: 50px;
  }

}

@media all and (orientation: portrait) and (min-width: 322px) and (max-width: 415px) {

  .lessons {
    width: 100vw;
  }

  .lessons-subcontainer {
    display: flex;
    flex-direction: column;
  }

  .filter-container {
    max-width: 90vw;
  }

  .filter-container .field .control .label, .filter-container .field .control .select, .filter-container .field .control .select select, .filter-container .field .control .select option {
    width: 100%;
  }

  .filter-container .field .control .label, .filter-container .field .control .select {
    font-size: 3vw;
  }

  .lessons-subcontainer .lessons-container {
    max-height: 100vh;
    width: 95%;
    position: relative;
    top: 125%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .card {
    display: flex;
    flex-direction: row;
    max-width: 10vw;
    max-height: 70vh;
  }

  .card, .lesson-item-title {
    font-size: 3vw;
  }

  .lessons-subcontainer .lessons-container .pagination {
    position: relative;
    bottom: 5%;
    align-self: flex-start;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    font-size: 3vw;
  }


  .card-image .image {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .card-image .image img {
    width: 50px;
    height: 50px;
  }

}

@media all and (orientation: portrait) and (min-width: 322px) and (max-width: 413px) {

  .lessons {
    width: 100vw;
  }

  .lessons-subcontainer {
    display: flex;
    flex-direction: column;
  }

  .filter-container {
    max-width: 90vw;
  }

  .filter-container .field .control .label, .filter-container .field .control .select, .filter-container .field .control .select select, .filter-container .field .control .select option {
    width: 100%;
  }

  .filter-container .field .control .label, .filter-container .field .control .select {
    font-size: 3vw;
  }

  .lessons-subcontainer .lessons-container {
    max-height: 100vh;
    width: 95%;
    position: relative;
    top: 125%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .card {
    display: flex;
    flex-direction: row;
    max-width: 10vw;
    max-height: 70vh;
  }

  .card, .lesson-item-title {
    font-size: 3vw;
  }

  .lessons-subcontainer .lessons-container .pagination {
    position: relative;
    bottom: 5%;
    align-self: flex-start;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    font-size: 3vw;
  }


  .card-image .image {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .card-image .image img {
    width: 50px;
    height: 50px;
  }

}

@media all and (orientation: portrait) and (min-width: 413px) and (max-width: 500px) {

  .lessons {
    width: 100vw;
  }

  .lessons-subcontainer {
    display: flex;
    flex-direction: column;
  }

  .filter-container {
    max-width: 90vw;
  }

  .filter-container .field .control .label, .filter-container .field .control .select, .filter-container .field .control .select select, .filter-container .field .control .select option {
    width: 100%;
  }

  .filter-container .field .control .label, .filter-container .field .control .select {
    font-size: 3vw;
  }

  .lessons-subcontainer .lessons-container {
    max-height: 100vh;
    width: 95%;
    position: relative;
    top: 110%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .card {
    display: flex;
    flex-direction: row;
    max-width: 10vw;
    max-height: 70vh;
  }

  .card, .lesson-item-title {
    font-size: 3vw;
  }

  .lessons-subcontainer .lessons-container .pagination {
    position: relative;
    bottom: 5%;
    align-self: flex-start;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    font-size: 3vw;
  }


  .card-image .image {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .card-image .image img {
    width: 50px;
    height: 50px;
  }

}

@media all and (orientation: landscape) and (max-width: 897px) {

  .lessons {
    width: 100vw;
  }

  .lessons-subcontainer {
    display: flex;
    flex-direction: column;
  }

  .filter-container {
    width: 100%;
    position: relative;
    left: -2.5%;
  }

  .filter-container .field .control .label, .filter-container .field .control .select, .filter-container .field .control .select select, .filter-container .field .control .select option {
    width: 95%;
  }

  .filter-container .field .control .label, .filter-container .field .control .select {
    font-size: 2vw;
  }

  .lessons-subcontainer .lessons-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    left: -5%;
    margin-top: 2.5%;
  }

  .card {
    max-width: 90vw;
    padding: 5px;
  }

  .card, .lesson-item-title {
    font-size: 2vw;
  }

  .lessons-subcontainer .lessons-container .pagination {
    align-self: flex-end;
    margin-bottom: 2.5%;
    font-size: 3vw;
  }

  .card-image .image {
      background-color: black;
      display: flex;
      justify-content: center;
  }
  .card-image .image img {
    width: 200px;
    height: 200px;
  }

}
