.lesson-header, .lesson-description, .lesson-comments {
  background-color: white;
  padding: 10px;
}

.lesson-metadata {
  margin-top: -15px;
}

.lesson-content {
  background-color: hsl(0, 0%, 21%);
  height: 70vh;
}

.lesson-comments {
  margin-top: 10px;
}

.lesson-item-title {
  font-size: 1.5rem;
  font-weight: 1000;
  margin-bottom: 25px;
}

.lessons-container {
  position: relative;
}

.lessons-subcontainer {
  display: flex;
  width: 100vw;
}


.lessons-container {
  margin-left: 20px;
}

.track-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu {
  background-color: white;
  width: 25%;
}

.menu-list {
  margin-left: 10px;
}

.menu-list li {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.lesson-content {
  width: 75%;
}

.lesson-container {
  -webkit-box-shadow: 0px 1px 14px 2px rgba(130,130,130,1);
  -moz-box-shadow: 0px 1px 14px 2px rgba(130,130,130,1);
  box-shadow: 0px 1px 14px 2px rgba(130,130,130,1);
}
